VITE_AQUA_HOST=http://api.aquadx.internal
VITE_DATA_HOST=https://aquanet.hydev.org

VITE_AQUA_CONNECTION=api.aquadx.internal

VITE_TURNSTILE_SITE_KEY=
VITE_DISCORD_INVITE=https://discord.gg/FNgveqFF7s
VITE_TELEGRAM_INVITE=https://t.me/+zBL4RZdyfvUzZGU1
VITE_QQ_INVITE=https://qm.qq.com/q/dpYmGoVHnG
VITE_GITHUB_REPOSITORY=https://github.com/MewoLab/AquaDX

# example:
# https://aquadx.net/#accesskey=....
VITE_ACCESSCODE_QKEY=accesskey

VITE_DEFAULT_GAME=mai2